@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
h1 {
    font-family: 'Roboto', sans-serif;
}

#image {
	width: 300px;
	height: 300px;
	border: solid rgba(0,0,0,0.5) 1px;
	border-radius: 10px;
}

button {
	margin-top: 10px;
}

p {
	text-indent: 40px;
	text-align: justify;
	line-height: 1.8em;
}

.body {
	margin: 20 10px;
}

.footer li a {
	color: red;
	font-weight: bold;
}

.link:hover {
	color: red;
}


.caption {
	width: 600px;
	text-indent: none;
	text-align: left;
}

.gan {
	width: 600px;
}
